**.aux
**.bcf
**.run.xml
**.synctex.gz
**.toc
**.synctex(busy)
**.blg
**.bbl
**.tex.bbl
**.tex.blg
**.dvi
**.fdb_latexmk
**.log
**.xdv
**.out
**.fls
**.md5
**.auxlock
**.thm

_minted-main
target
.vscode